<section class="section advantages">
  <div class="container">
    <h2 class="title visually-hidden">Advantages</h2>
    <ul class="advantages__list page-count">
      <li class="advantages__item">
        <span class="advantages__info" data-digits-counter>721</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__info"><span data-digits-counter>16</span>kg</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__info" data-digits-counter>84</span>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
