<footer class="footer">
  <div class="container">
    <h2 class="footer__title title visually-hidden">Contact</h2>
    <div class="footer__content">
      <div class="footer__wrap-text">
        <p class="footer__text footer__text--ordinary">
          homemade ice cream made
        </p>
        <p class="footer__text footer__text--accent">with passion</p>
      </div>
      <div class="footer__wrap-contacts social">
        <ul class="social__list ">
          <li class="social__item"> 
            <a
              href="https://github.com"
              class="social__link link"
              target="_blank"
            >
              <svg class="social__img" width="19" height="19">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://telegram.org"
              class="social__link"
              target="_blank"
            >
              <svg class="social__img" width="19" height="15">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://www.facebook.com/"
              class="social__link"
              target="_blank"
            >
              <svg class="social__img" width="9" height="19">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__contact">
          <span class="footer__contact-text">Feel free to contact</span>
          <a href="tel:+610383766284" class="footer__contact-phone"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer__wrap-rights">
    <p class="footer__rights">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
